{% extends "../layouts/primary.twig" %}

{% block page %}
{% set formName = 'leadform' %}
<form action="/thanks" class="sprk-o-Box--large sprk-o-CenteredColumn sprk-u-TextAlign--center sprk-u-Width-60" data-netlify method="post" name="{{ formName }}" novalidate>
    {% include './partials/leadform.LoanPurpose.twig' %}
    {% include './partials/leadform.HomeDescription.twig' %}
    {% include './partials/leadform.PropertyUse.twig' %}
    {% include './partials/leadform.LoanPurposePurchase.twig' %}
    {% include './partials/leadform.FirstTimeBuyer.twig' %}
    {% include './partials/leadform.Military_Purch.twig' %}
    {% include './partials/leadform.HasRealEstateAgent.twig' %}
    {% include './partials/leadform.PurchasePrice.twig' %}
    {% include './partials/leadform.DownPayment.twig' %}
    {% include './partials/leadform.CreditRating.twig' %}
    {% include './partials/leadform.LatePayments.twig' %}
    {% include './partials/leadform.Foreclosure.twig' %}
    {% include './partials/leadform.Bankruptcy.twig' %}
    {% include './partials/leadform.FirstName.twig' %}
    {% include './partials/leadform.LastName.twig' %}
    {% include './partials/leadform.HomePhone.twig' %}
    {% include './partials/leadform.Email.twig' %}
    {% include './partials/leadform.MailingAddress.twig' %}
    {% include './partials/leadform.Zipcode.twig' %}

    {{ button.primary('Click to See Your Results!', formName, 'submit', 'full@xs') }}
  </div>
</form>
{% endblock page %}
