{% extends "../layouts/primary.twig" %}

{% block page %}
<div class="sprk-c-HighlightBoard sprk-o-Box sprk-u-mbm">
  <div class="sprk-c-HighlightBoard__content sprk-o-Stack sprk-o-Stack--large">
    <h1 class="sprk-b-TypeDisplayTwo sprk-c-HighlightBoard__heading sprk-o-Stack__item">
      Thanks!
    </h1>
  </div>
</div>
{% endblock page %}
