{% extends "../layouts/primary.twig" %}

{% block page %}
<div class="sprk-o-Box--large sprk-o-CenteredColumn sprk-u-TextAlign--center sprk-u-Width-60">
  <h2 class="sprk-b-TypeDisplayThree sprk-u-mbm">Thanks!</h2>

  <div class="sprk-o-Box">
    <p class="sprk-u-mbm">Based on the information you have provided, you are eligible to continue your home loan process online with Rocket Mortgage.</p>
    <p class="sprk-u-mbm">Take advantage of our fast, powerful and completely online way to get a mortgage. You can quickly see how much home you can afford and customize your mortgage options!</p>
  </div>

  <div class="sprk-o-Box">
    {{ button.primary('Get Started', 'rocket-mortgage', 'button', 'full@xs', null, 'http://rocketmortgage.com') }}
  </div>
</div>
{% endblock page %}
