<!doctype html>
<!--[if lt IE 9]><html class="no-js lt-ie9" lang="en-US"><![endif]-->
<!--[if gt IE 9]><!--><html class="no-js" lang="en-US"><!--<![endif]-->

{%- set siteType = 'rm' -%}

{%- if siteType == 'rm' -%}
  {%- set siteTitle = 'Rocket Mortgage | Refinance Or Apply For A Mortgage Online' -%}
  {%- set hdrPropLink = 'https://www.quickenloans.com' -%}
  {%- set hdrPropLinkText = 'Quicken Loans' -%}

{%- else -%}
  {%- set siteTitle = 'Quicken Loans | America\'s Largest Mortgage Lender' -%}
  {%- set hdrPropLink = 'https://www.rocketmortgage.com' -%}
  {%- set hdrPropLinkText = 'Rocket Mortgage' -%}

{%- endif -%}

{% import '../macros/button.twig' as button %}
{% import '../macros/input.twig' as input %}

<head>
  <title>{{ siteTitle }}</title>
  <meta name="viewport" content="initial-scale=1.0, minimum-scale=1.0, width=device-width">
  <link href="./css/app.css" rel="stylesheet" />
  <script src="./js/head.js"></script>
</head>
<body>
  {% include 'partials/icon.system.twig' %}
  {% include 'partials/header.primary.twig' %}

  <article class="main sprk-o-CenteredColumn">
    <div class="sprk-c-HighlightBoard sprk-c-HighlightBoard--has-image sprk-u-mbm">
      <img class="sprk-c-HighlightBoard__image" src="https://d33wubrfki0l68.cloudfront.net/413141e11bc68d51b7e5ea8762dc2c5c875eac86/f9254/assets/toolkit/images/desktop.jpg" alt="placeholder">

      <div class="sprk-c-HighlightBoard__content sprk-o-Stack sprk-o-Stack--large">
        <h1 class="sprk-b-TypeDisplayOne sprk-c-HighlightBoard__heading sprk-o-Stack__item">
          Providing Affordable Mortgages and Award-Winning Client Service for More than 30 Years
        </h1>
      </div>
    </div>

    {% block page %}{% endblock page %}
  </article>
  {% include 'partials/footer.primary.twig' %}
  <script src="./js/app.js"></script>
</body>
</html>
